
<div  style="background-color: #ccc  ; align-content: center;">
    <h1>Currency History  </h1> 
</div>
<form class="user-form" [formGroup]="userForm" (submit)="onSubmit()"> 
   <div>
       <h2>Login</h2>
    <div class="form-group">
        <label > User name:</label>
        <input type="text" name ="userName" formControlName="userName"  required>
        <br>
        
     <div class="error"
        *ngIf="!userForm.get('userName').valid && userForm.get('userName').touched">
        user name length should be atleast 5 characters 
 </div>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type ="password" name ="password" formControlName="password" required >
        <br>
        
        <div class="error"
            *ngIf="!userForm.get('password').valid && userForm.get('password').touched">
            Password must contains  characters, at least one small letter, at least one capital letter, at least one numberStore
            </div>
    </div>
    <div>
        <button type="submit" >Submit</button>
    </div>
</div>


</form>
